*{
    list-style: none;
}

body{
    padding: 0;
    margin: 0;
    background: url(backgroundfix.jpg);
    font-family: 'Trebuchet MS';
    font-size: medium;
}

.navigation{
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    background-color: blanchedalmond;
    background-position: top;
}

.HOME-nav:hover{
    transform: scale(1.1);
}

.PRODUCT-nav:hover{
    transform: scale(1.1);
}

.FORM-nav:hover{
    transform: scale(1.1);
}

.logo{
    margin-top: 10px;
    width: 7%;
}

.row{
    background: url(backgroundfix.jpg);
    width: 100%;
    height: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.picturechair1{
    width: 50%;
}

.picturetemplate1{
    position: absolute;
    width: 300px;
    margin-top: 4%;
    margin-left: 40%;
    margin-right: 100%;
}

.picturetemplate1:hover{
    transform: scale(1.1);
}

.pictureapril{
    position: absolute;
    width: 200px;
    margin-left: 44%;
    margin-top: none;
    margin-top: 14%;
    margin-right: 100%;
}

.pictureapril:hover{
    transform: scale(1.1);
}

.picturechair2{
    width: 50%;
}

.picturechair2:hover{
    transform: scale(1.1);
}

.picturetemplate3{
    position: absolute;
    width: 300px;
    margin-top: 4%;
    margin-left: 20%;
    padding-bottom: 100%;
    margin-right: 100%;
}

.picturetemplate3:hover{
    transform: scale(1.1);
}

.pictureaprilgo{
    position: absolute;
    width: 150px;
    margin-left: 25%;
    margin-top: 100%;
    margin-top: 13%;
    margin-bottom: 100%;
    padding-bottom: 100%;
}

.pictureaprilgo:hover{
    transform: scale(1.1);
}

.card{
    position: absolute;
    margin-top: 33%;
    width: 50%;
    text-align: center;
    margin-left: 0%;
}

.price{
    position: absolute;
    margin-top: 8%;
    width: 20%;
    text-align: center;
    margin-left: 0%;
}

.desc{
    position: absolute;
    margin-top: 36%;
    width: 20%;
    text-align: center;
    margin-left: 0%;
}

.card1{
    position: absolute;
    margin-top: 33%;
    width: 25%;
    text-align: center;
    margin-left: 61%;
}

.price1{
    position: absolute;
    margin-top: 8%;
    width: 20%;
    text-align: center;
    margin-left: 60%;
}

.desc1{
    position: absolute;
    margin-top: 36%;
    width: 20%;
    text-align: center;
    margin-left: 61%;
}

.picturetable1{
    width: 50%;
}

.picturetemplate2{
    position: absolute;
    width: 300px;
    margin-top: 50%;
    margin-left: 40%;
}

.picturetemplate2:hover{
    transform: scale(1.1);
}

.pictureairtable{
    position: absolute;
    width: 200px;
    margin-left: 44%;
    margin-top: none;
    margin-top: 60%;
}

.pictureairtable:hover{
    transform: scale(1.1);
}

.picturetable2{
    width: 50%;
}

.picturetable2:hover{
    transform: scale(1.1);
}

.picturetemplate4{
    position: absolute;
    width: 300px;
    margin-top: 50%;
    margin-left: 20%;
}

.picturetemplate4:hover{
    transform: scale(1.1);
}

.picturevroom{
    position: absolute;
    width: 150px;
    margin-left: 25%;
    margin-top: none;
    margin-top: 60%;
}

.picturevroom:hover{
    transform: scale(1.1);
}

.card2{
    position: absolute;
    margin-top: 80%;
    width: 50%;
    text-align: center;
    margin-left: 0%;
}

.price2{
    position: absolute;
    margin-top: 54%;
    width: 20%;
    text-align: center;
    margin-left: 0%;
}

.desc2{
    position: absolute;
    margin-top: 83%;
    width: 20%;
    text-align: center;
    margin-left: 0%;
}

.card3{
    position: absolute;
    margin-top: 80%;
    width: 25%;
    text-align: center;
    margin-left: 61%;
}

.price3{
    position: absolute;
    margin-top: 54%;
    width: 20%;
    text-align: center;
    margin-left: 60%;
}

.desc3{
    position: absolute;
    margin-top: 83%;
    width: 20%;
    text-align: center;
    margin-left: 61%;
}

.picturecycleparking1{
    width: 50%;
}

.picturetemplate5{
    position: absolute;
    width: 300px;
    margin-top: 100%;
    margin-left: 40%;
}

.picturetemplate5:hover{
    transform: scale(1.1);
}

.picturesinus{
    position: absolute;
    width: 200px;
    margin-left: 44%;
    margin-top: none;
    margin-top: 110%;
}

.picturesinus:hover{
    transform: scale(1.1);
}

.picturecycleparking2{
    width: 50%;
}

.picturetemplate6{
    position: absolute;
    width: 300px;
    margin-top: 100%;
    margin-left: 20%;
}

.picturetemplate6:hover{
    transform: scale(1.1);
}

.picturefolk{
    position: absolute;
    width: 150px;
    margin-left: 25%;
    margin-top: none;
    margin-top: 110%;
}

.picturefolk:hover{
    transform: scale(1.1);
}

.card4{
    position: absolute;
    margin-top: 130%;
    width: 50%;
    text-align: center;
    margin-left: 0%;
}

.price4{
    position: absolute;
    margin-top: 104%;
    width: 20%;
    text-align: center;
    margin-left: 0%;
}

.desc4{
    position: absolute;
    margin-top: 133%;
    width: 20%;
    text-align: center;
    margin-left: 0%;
}

.card5{
    position: absolute;
    margin-top: 130%;
    width: 25%;
    text-align: center;
    margin-left: 61%;
}

.price5{
    position: absolute;
    margin-top: 104%;
    width: 20%;
    text-align: center;
    margin-left: 60%;
}

.desc5{
    position: absolute;
    margin-top: 133%;
    width: 20%;
    text-align: center;
    margin-left: 61%;
}

.pictureplanter1{
    width: 50%;
}

.picturetemplate7{
    position: absolute;
    width: 300px;
    margin-top: 149%;
    margin-left: 40%;
}

.picturetemplate7:hover{
    transform: scale(1.1);
}

.pictureboboli{
    position: absolute;
    width: 200px;
    margin-left: 43%;
    margin-top: none;
    margin-top: 160%;
}

.pictureboboli:hover{
    transform: scale(1.1);
}

.pictureplanter2{
    width: 50%;
}

.picturetemplate8{
    position: absolute;
    width: 300px;
    margin-top: 149%;
    margin-left: 20%;
}

.picturetemplate8:hover{
    transform: scale(1.1);
}

.picturereale{
    position: absolute;
    width: 150px;
    margin-left: 25%;
    margin-top: none;
    margin-top: 159%;
}

.picturereale:hover{
    transform: scale(1.1);
}

.card6{
    position: absolute;
    margin-top: 179%;
    width: 50%;
    text-align: center;
    margin-left: 0%;
}

.price6{
    position: absolute;
    margin-top: 153%;
    width: 20%;
    text-align: center;
    margin-left: 0%;
}

.desc6{
    position: absolute;
    margin-top: 182%;
    width: 20%;
    text-align: center;
    margin-left: 0%;
}

.card7{
    position: absolute;
    margin-top: 179%;
    width: 25%;
    text-align: center;
    margin-left: 61%;
}

.price7{
    position: absolute;
    margin-top: 153%;
    width: 20%;
    text-align: center;
    margin-left: 60%;
}

.desc7{
    position: absolute;
    margin-top: 182%;
    width: 20%;
    text-align: center;
    margin-left: 61%;
}

*{
    list-style: none;
}

.footer-content{
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    background-color: blanchedalmond;
    background-position: top;
    margin-top: 200%;
}

.logofooter-foot{
    width: 25%;
}

.foot-content{
    display: flex;
    width: 50%;
    align-content: center;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.table-foot{
    width: 50%;
    margin-bottom: 15%;
}

.table-foot:hover{
    transform: scale(1.1);
}

.cycleparking-foot{
    width: 50%;
}

.cycleparking-foot:hover{
    transform: scale(1.1);
}

.chair-foot{
    width: 50%;
}

.chair-foot:hover{
    transform: scale(1.1);
}

.planters-foot{
    width: 50%;
}

.planters-foot:hover{
    transform: scale(1.1);
}

.contact{
    margin-bottom: 0%;
    width: 25%;
    text-align: center;
    margin-left : 5%;
}

.instagram{
    margin-top: 5%;
    width: 10%;
    text-align: center;
    margin-left : 6%;
}

.instagram:hover{
    transform: scale(1.1);
}

.twitter{
    width: 10%;
}

.twitter:hover{
    transform: scale(1.1);
}

.linkedin{
    width: 10%;
}

.linkedin:hover{
    transform: scale(1.1);
}



